.jumbotron
  .container
    %h1.display-3 HipTime! Free and Easy.
    %p.lead Trusted by Millions. HipTime is the best online Task Management App!
    %hr.my-4
    .row.justify-content-center
      = link_to "Try it Now!", new_user_registration_path, class: "btn btn-primary"
